@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Petit+Formal+Script&display=swap');

html
{
    scroll-behavior: smooth;

}
* {
    box-sizing: border-box;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}
.nav
{
    padding: 1vh;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    z-index: 100;
    flex-direction: row;

}
#topce
{
    text-align: center;
    display:    block;
    z-index: 999;
    margin: 0;
    padding: 0;
}
.blank
{
    height: 1vh;
    width: 1vh;
}
#pocetok img
{
    margin:0 auto;
}
.col{
    display: flex;
    flex-direction: column;
    flex: 5;
}
.content {
    display: flex;
    height:100vh;
    flex-direction: row;
}
.content > article {
    flex: 1;
    min-height: 60vh;
}
header, footer {
    background: yellowgreen;
    height: 20vh;
}
header, footer, article, nav {
    padding: 1em;
}
#prvo
{
    width: 100%;
    background-color: black;
    height: 85vh;
    align-items: center;
    text-align: center;
}
#prvo h1
{
    padding-top: 15vh;
    color: snow;
    line-height: 7vh;
    font-size: 6vh;
}
.head1
{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
}
.head2
{
    font-weight: 300;
    font-family: 'Petit Formal Script', cursive;
}
.head3
{
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
}
#vtoro
{
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:#83B0A2;
    border-bottom: 1px solid white;
}
.mojaSlika
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 90%;
    height: auto;
    /*
    display: none;
    */
}
.welcoming
{
    font-family: 'Oswald', sans-serif;
    text-align: right;
    position: absolute;
    right:0;
    top:15vh;
    font-size: 2.5vh;
    padding-left: 15vh;
    padding-right: 2vh;
    letter-spacing: 0.1em;
}
#treto
{
    position: relative;
    display: block;
    background-position: center center;
    background-repeat: repeat;
    background-size: 50%;
    background-color:black;
    border-bottom: 1px solid white;
}
.tretoContainer
{
    position: absolute;
    display: block;
    top: 12vh;
    right: 0;
    width: 100%;
    height: 70%;
    /*
    margin: 10vh; vo pc smeni i width
    */
    text-align: center;
    color: white;
    font-family: 'Oswald', sans-serif;
}
.tretoDesno
{
    float: right;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.tretoLevo
{
    float: left;
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.tretoContainer li
{
    list-style-type: none;
    position:relative;
    left: -2.5vh;
}
.slider1
{
    position: relative;
    width: 18vh;
    height: 1vh;
    background-color: #ffffff;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.slider1Inside
{
    width: 16vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.slider2Inside
{
    width: 18vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.slider3Inside
{
    width: 14vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.slider4Inside
{
    width: 10vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.slider5Inside
{
    width: 13vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.slider6Inside
{
    width: 18vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.slider7Inside
{
    width: 18vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.slider8Inside
{
    margin-right: 2vh;
    width: 12vh;
    height: 1vh;
    background-color: #83B0A2;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;

}


#cetvrto
{
    position: relative;
    display: block;
    background-image: url("glow (3).png");
    background-position: center center;
    background-repeat: repeat;
    background-size: 50%;
    /*
    background-attachment: fixed;
    */

    background-color:#000000;
    border-bottom: 1px solid white;
}
.list
{
    position: absolute;
    text-align: right;
    margin: 0;
    /*
    padding:10vh; pc version
    */
    padding-top: 15vh;
    padding-right: 2vh;
    top:0;
    right: 0;
    color: #f2f2f2;
    font-size: 2.1vh;
    list-style-type:none;
}
.sel
{
    background-color: rgba(0,0,0,0.9);
}
.sel:hover
{
    background-color: rgba(255,255,255,0.19);
}

#slikaRaka
{
    position: absolute;
    display: block;
    margin: 0;
    bottom: 0;
    left: -20%;
    width:70%;
    height:auto;
}
#dragonfly
{
    position: absolute;
    display: block;
    margin: 0;
    top: 2vh;
    right: 0;
    width:60%;
    height:auto;
}
/*#slikamoi
{
    position: absolute;
    display: block;
    margin: 0;
    bottom: 0;
    left: -20%;
    width:70%;
    height:auto;
}*/
.levo
{
    text-align: center;
    font-size: 1em;
    /*writing-mode: vertical-rl;
    padding: 1em;
    text-orientation: mixed;*/
    color: #f2f2f2;
    position: fixed;
    top: 0;
    left: 0;
    width: 7vh;
    height: 100%;
    background-color: black;
    border-right: 0.05em solid white;
    z-index: 10;
    display: none;
}
.desno
{
    text-align: center;
    font-size: 1em;
  /*  writing-mode: vertical-rl;
    padding: 1em;
    text-orientation: mixed;*/
    color: #f2f2f2;
    position: fixed;
    top: 0;
    right: 0;
    width: 7vh;
    height: 100%;
    background-color: black;
    border-left: 0.05em solid white;
    z-index: 10;
    display: none;
}
.desno a
{
    position: absolute;
    left: 0;
    top:45%;
    writing-mode: vertical-rl;
    padding: 1em;
    text-orientation: mixed;
    text-decoration: none;
    color: white;
}
.levo a
{
    position: absolute;
    left: 0;
    top:45%;
    writing-mode: vertical-lr;
    padding: 1em;
    text-orientation: mixed;
    text-decoration: none;
    color: white;
    transform: rotate(180deg);
}

#DesnoM
{
    font-size: 1vh;
    text-align: center;
    color: #f2f2f2;
    position: fixed;
    margin: 45vh 0 auto auto;
    right: 0;
    top:0;
    width: 2vh;
    height: 10vh;
    background-color: black;
    border:0.01vh solid white;
    border-right: none;
    /*border-radius: 20% 0 0 20%;*/
    z-index: 10;
}

#DesnoM a
{
    margin: 0;/*eden*/
    margin-top: auto;
    margin-right: 0;
    position: absolute;
    right:0;
    top:0;
    writing-mode: vertical-rl;
    padding: 2vh;
    padding-right: 0;
    text-orientation: mixed;
    text-decoration: none;
    color: white;
}

#LevoM
{
    font-size: 1vh;
    text-align: center;
    color: #f2f2f2;
    position: fixed;
    margin: 45vh 0 auto auto;
    left: 0;
    top:0;
    width: 2vh;
    height: 10vh;
    background-color: black;
    border:0.01vh solid white;
    border-left: none;
    /*border-radius: 20% 0 0 20%;*/
    z-index: 10;

}

#LevoM a
{
    margin: 0;
    margin-top: auto;
    margin-left: 0;
    position: absolute;
    left:0;
    top:0;
    writing-mode: vertical-rl;
    padding: 2vh;
    padding-right: 0;
    text-orientation: mixed;
    text-decoration: none;
    color: white;
    transform: rotate(180deg);
}
#error1
{
    width: 100%;
    background-color: orange;
    height: 100vh;
    align-items: center;
    text-align: right;
}
#error1 h1
{
    padding-top: 10vh;
    color: snow;
    line-height: 7vh;
    font-size: 3vh;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0.1em;
    z-index: 100;
}
.shout
{
    font-size: 12vh;
}
#bakugo
{
    position: fixed;
    display: block;
    margin: 0;
    bottom: 0;
    left: -20%;
    width:70%;
    height:auto;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #383838;
}


::-webkit-scrollbar-thumb {
    background: #000000;
}

::-webkit-scrollbar-thumb:hover {
    background: #83B0A2;
}
::-moz-selection { /* Code for Firefox */
    color: #ffffff;
    background: #83B0A2;
}

::selection {
    color: #ffffff;
    background: #83B0A2;
}
.re
{
    text-decoration: none;
    color: darkblue;
}
@media only screen and (min-device-width : 1080px) {
    .desno {
        display: block;
    }

    .levo {
        display: block;
    }
    #prvo h1
    {
        padding-top: 12vh;
        color: snow;
        line-height: 13vh;
        font-size: 15vh;
    }
    .head1
    {
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.1em;
    }
    .head2
    {
        font-weight: 300;
        font-family: 'Petit Formal Script', cursive;
    }
    .head3
    {
        font-family: 'Oswald', sans-serif;
        letter-spacing: 0.1em;
    }
    .list
    {
        text-align: justify;
        padding-top: 7vh;
        padding-right: 0;
        top:0;
        right: 75vh;
        color: #f2f2f2;
        font-size: 2.7vh;
        list-style-type:none;
    }
    #dragonfly
    {
        margin: 0;
        top: 0vh;
        right: 2vh;
        width:20%;
        height:auto;
    }
    #slikaRaka
    {
        left: 0;
        width:30%;
        height:auto;
    }
    #bakugo
    {
        left: 0;
        width:30%;
        height:auto;
    }
    #error1
    {
        align-items: center;
        text-align: center;
    }
    #error1 h1 {
        padding-top: 15vh;
    }
    .Mob
    {
        display: none;
    }

    .mojaSlika
    {

        width: 50%;
        height: auto;
    }
    .welcoming
    {

        right:0;
        top:15vh;
        font-size: 2.5vh;
        padding-left: 120vh;
        padding-right: 10vh;
        line-height: 2;
        /*
        text-transform: lowercase;
        */
    }
}