body {
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
}

.slide {
    position: relative;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 400vw;
}
.one {
    background-image: url(e51b2f153492ca7b55789c59c802d013.png);
    background-position: center center;
    background-repeat: no-repeat;
    /*
    background-attachment: fixed;
    */
    background-size: cover;
    background-color:#464646;
}
.two {
    background-image: url(87l68vve3f611.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    /*
    background-attachment: fixed;
    */
    background-size: cover;
    background-color:#464646;
}
.three {
    background: #0bbaa0;
}
.four {
    background: black;
}
.actor
{
    position: fixed;
    bottom: 0;
    left: 10vh;
    height: 20vh;
    background-color: yellow;
    width: 20vh;
}



@media only screen and (max-width: 480px) {
    .body
    {
        overflow-y: hidden;
    }
    .one {
        background-image: url(e51b2f153492ca7b55789c59c802d013.png);
    }
    .two {
        background-image: url(87l68vve3f611.jpg);
    }

}
